.Portion {
    display: flex;
}

.mb-2 {
    margin-bottom: 16px;
}

.Portion-time {
    font-size: 14px;
    color: #6D6D6D;
    margin-right: 8px;
}

.Portion-amount {
    font-size: 14px;
    color: #6D6D6D;
    margin-left: 8px;
}

.Portion-bar {
    height: 24px;
    background-color: #3DDBA2;
}

.Portion-active {
    background-color: #CA4EDE;
}
