.App {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        'header'
        'main'
        'footer';
}

.App > header {
    grid-area: header;
    padding: 24px 24px 12px 24px;
    text-align: end;
    font-size: 24px;
    font-weight: 500;
}

.App > main {
    grid-area: main;
    padding: 12px 24px;
}

.App > footer {
    grid-area: footer;
    padding: 12px 24px 24px 24px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
